[defaults]
inventory = ./inventory/terraform.yml
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent
remote_user = ubuntu
private_key_file = /home/shaizo/.ssh/oracle_iac_lab
deprecation_warnings = False

[inventory]
enable_plugins = oracle.oci.oci, yaml, ini

[ssh_connection]
ssh_args = -F /home/shaizo/.ssh/config -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
